<h3> Informações sobre o livro de id "<%= @book.id %>" </h1>

<h1>Título: <%= @book.title %> </h3>
<p>Autor: <%= @book.author %> </p>
<p>Ano de publicação: <%= @book.publication_year %> </p>
<p>Gênero: <%= @book.genre %> </p>
<p>Resumo: <%= @book.abstract %> </p>
<p><%= link_to 'Voltar', root_path %> </p>

  